<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/layout/header.css">
    <link rel="stylesheet" href="../../css/layout/contents.css">
    <link rel="stylesheet" href="../../css/login/login.css">
</head>
<body>
    <div class="main">
        <header>
            <nav>
                <a href="../index.html">HOME</a>
                <a href="../cart/cart.html">CART</a>
                <a href="./login.html">LOGIN/SIGNUP</a>
                <a class="menu_btn">☰</a>
            </nav>
            <div class="header_wrapper">
                <div class="logo">YOUR<br>LOGO</div>
                <div class="slogan">Whatever, Whenever, Wherever, Flower market </div>
            </div>
        </header>
        <div id="login" style="text-align: center;">
            <h1>login</h1>
            <div id="input">
                <input type="text" placeholder="input your id(準備中)">
            </div>
           <div id="input">
            <input type="text" placeholder="input your password(準備中)">
           </div>
        <div id="buttonset">
            <div>
                <button id="loginbutton" type="button" name="btn" value="login">login(準備中)</button>
            </div>
            <div>
                <button id="loginbutton" type="button" name="btn" value="sign in">sign up(準備中)</button>
            </div>
        </div>
        <body>
            <div id="wrap" id="footer">
        
                <footer>
                  <nav>
                      <a href=https://www.figma.com/file/ghBdI6RiYekeX7KogXgBUt/flower-ec?node-id=0%3A1&t=5QRatSeHm5AaABfC-0 target='_blank'>Figma</a> |
                      <a href=https://github.com/Willow0808 target='_blank'>Github</a>
                  </nav>
                  <p>
                      <span style="font-weight: bold;">Contact to me </span><br/>
                      <span>e-mail: eireneyou94@gmail.com</span><br/>
                    
                      <span>Copyright 2020. cocoder. All Rights Reserved.</span>
                  </p>
              </footer>
            </div>
        </body>
        </div>
    </div>
</body>