<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/layout/smallHeader.css">
    <link rel="stylesheet" href="../../css/cart/cart.css">
    <link rel="stylesheet" href="../../css/layout/header.css">
    
    <script src="../../js/tools/numberWithCommas.js"></script>
</head>
<body>
    <div class="main">
        <header>
            <nav>
                <a href="../index.html">HOME</a>
                <a href="../cart/cart.html">CART</a>
                <a href="../login/login.html">LOGIN/SIGNUP</a>
                <a class="menu_btn">☰</a>
            </nav>
            <div class="header_wrapper">
                <div class="logo">YOUR<br>LOGO</div>
                <div class="slogan">Whatever, Whenever, Wherever, Flower market </div>
            </div>
        </header>

    <hr class="one">    
    <div class="Header1">
        <h3 class="Heading">Shopping Cart</h3>
        <h5 class="Action remove_all">Remove all</h5>
    </div>

    <div class="item_list">

    </div>
            
        <hr class="one">

             <!-- 여기부턴 footersection -->
            
        <div id="wrap" id="footer">
        
            <footer>
              <nav>
                  <a href=https://www.figma.com/file/ghBdI6RiYekeX7KogXgBUt/flower-ec?node-id=0%3A1&t=5QRatSeHm5AaABfC-0 target='_blank'>Figma</a> |
                  <a href=https://github.com/Willow0808 target='_blank'>Github</a>
              </nav>
              <p>
                  <span style="font-weight: bold;">Contact to me</span><br/>
                  <span>e-mail: eireneyou94@gmail.com</span><br/>
                 
                  <span>Copyright 2020. cocoder. All Rights Reserved.</span>
              </p>
            </footer>
        </div>
             
        
    </div>
    <script src="../../js/cart/count.js"></script>
    <script src="../../js/cart/loadItem.js"></script>
    <script src="../../js/cart/removeAll.js"></script>
    
</body>